/.arduinoIDE
/.cache
/.config
/.cricut-design-space
/.gitconfig
/.ssh
/.tcf
/.thumbnails
/.vscode
/.Xilinx
/3D Objects
/add-aed.html
/AppData
/Autodesk
/calculator.py
/Contacts
/Desktop
/Documents
/Downloads
/exception.py
/Favorites
/Games
/get-in-touch.html
/hello.py
/hellofunction.py
/IntelGraphicsProfiles
/Links
/mario.py
/Music
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{bd3fd650-895f-11ee-a309-d08478cddbfb}.TM.blf
/NTUSER.DAT{bd3fd650-895f-11ee-a309-d08478cddbfb}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{bd3fd650-895f-11ee-a309-d08478cddbfb}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/number.py
/Pictures
/project_1
/russian_roulette.py
/Saved Games
/Searches
/UrbanVPN
/Videos
/OneDrive
/Cookies
/Local Settings
/My Documents
/Application Data
/NetHood
/PrintHood
/Recent
/SendTo
/Start Menu
/Templates